# macOS
.DS_Store

# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
dist/
build/
android/app/build/
ios/Pods/
ios/build/

# Expo
.expo/
.expo-shared/

# React Native
*.keystore
*.jks

# VS Code
.vscode/

# Other
*.log
*.tmp
